.btnm:hover{
    color:purple;
    background: white;
    opacity: 0.5;
   
}
.btnm{
    cursor: pointer;
    outline: none;
    margin: 12px ;
    padding: 7px 21px;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 18px;
    background: purple;
    color: white;
    font-weight: bold;
}