.btnx{
    cursor: pointer;
    outline: none;
    margin: 12px ;
    padding: 7px 21px;
    border-radius: 10px;
}
.active,.nav-link:hover{
background-color: #9c90ae97;
border-radius: 7px;
}
.nav-item{
    padding-left: 6px;
}