.signup{
    background-image: url(https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40659/FreevectorPurple-BackgroundAS0621_generated.jpg);
    /* background-color: #9c90ae; */

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/* https://img.freepik.com/premium-photo/purple-pastel-background-design-abstract-creative-magenta-background-pastel-color-design-3d-illustration_507676-59.jpg?w=2000 */