.signup{
    background-image: url(https://assets.hongkiat.com/uploads/beautiful-minimalist-desktop-wallpapers/4k/preview/01.jpg?3);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}